{% extends "base/index.html" %}


{% block content %}

    			<!-- 
			=============================================
				Signup Page
			============================================== 
			-->
			<div class="signUp-page signUp-minimal pt-50 pb-100" style="margin-top: 8%;">
				<div class="shape-wrapper">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div> <!-- /.shape-wrapper -->
				<div class="signin-form-wrapper">
					<div class="title-area text-center">
						<h3>تغيير كلمة المرور</h3>
					</div> <!-- /.title-area -->
					<form method="post" id="login-form">
						<div class="row">
                            {% csrf_token %}
                            <!-- errors -->
                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    <ul>
                                        {% for error in form.non_field_errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="col-lg-12 form-group">
                                <input type="password" placeholder="كلمة المرور" class="form-control" name="new_password1" id="password1">
                            </div>
                            <div class="col-lg-12 form-group">
                                <input type="password" placeholder="تأكيد كلمة المرور" class="form-control" name="new_password2" id="password2">
                            </div>
                            
						</div> <!-- /.row -->

						<button class="line-button-one">تأكيد</button>
					</form>
					<p class="signUp-text text-center"></a></p>
				</div> <!-- /.sign-up-form-wrapper -->
			</div> <!-- /.signUp-page -->
{% endblock %}